.cabecera {
    height: auto;
    border-bottom: 1px solid darkgray;
    align-items: center;
    margin-bottom: 2rem;

    .nav-icon {
        display: inline;
    }

    .nav-list {
        display: none;
    }

    .nav-burger {
        display: flex;
        font-size: 10px;
        justify-content: flex-end;
    }

}

hr {
    margin: 0.5rem;
}

@media (min-width: 1200px) {

    //desktop
    .cabecera {
        .nav-list {
            display: flex;
            width: 100%;
            font-size: 1.5rem;
            padding-top: 20px;
            justify-content: flex-end;

            li {
                border: 2px solid darkgray;
                box-shadow: 3px 10px 10px rgba(0,0,0,0.5);
                padding: 10px;
                display: inline;
            }
        }

        .nav-burger{
            display: none;
        }
    }

}