@use "_col_x2" as *;

@include generar_columnas(2);

.cont_img_princ{
    img{
        width: 100%;
        height: 500px;
        overflow: hidden;
        padding: 1rem;
    }
    
}

.cont_img_secun{
    img{
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 1rem;
    }
    
}

button{
    width: 100%;
    padding-top: 3rem;
}

h1, h3, p{
    padding-top: 3rem;
}
