html 
    include cabecera
    body 
        .row 
            .col-12
                include nav
        .row
            .col-8.cont_img_princ
                include images_div
            .col-4
                include description
            .col-8 
                .row
                    .col-3.cont_img_secun
                        include images_div
                    .col-3.cont_img_secun
                        include images_div
                    .col-3.cont_img_secun
                        include images_div
                    .col-3.cont_img_secun
                        include images_div
            .col-4 
                include boton