html 
    include cabecera
    body 
        .row 
            .col-12
                include nav
        .row
            .col-12.cont_img_princ.col-md-8
                include images_div
            .col-12.col-md-4
                include description
            .col-12.col-md-8
                .row
                    .col-12.cont_img_secun.col-md-3
                        include images_div
                    .col-12.cont_img_secun.col-md-3
                        include images_div
                    .col-12.cont_img_secun.col-md-3
                        include images_div
                    .col-12.cont_img_secun.col-md-3
                        include images_div
            .col-12.col-md-4
                include boton