.container
    h1 Product Name 
    h3 $ 120.99
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam perferendis tempora aspernatur, sequi consequatur aliquam assumenda? Consectetur impedit ipsam placeat atque, dolores esse consequatur velit omnis ab, doloribus tempora magni.Tenetur nisi alias minima expedita esse minus inventore nemo quo amet rerum incidunt reiciendis eveniet dolore iure, nesciunt nostrum et earum sunt architecto soluta commodi omnis, perferendis exercitationem. Beatae, et!
