<!DOCTYPE html>
<html lang="en">
<head>
  include cabecera
</head>
<body class="claro">
  .container 
    .row 
      .twelve.columns 
        header
          h1 El badulaque
    .row 
      .twelve.columns
        ul.nav_vertical
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="/contact") Contact
    .row 
      .twelve.columns
        h1 Main Content
        .gallery.cant-4 
          img(src="../img/Logo_Red.png", alt="")
          img(src="../img/Logo_Red.png", alt="")
          img(src="../img/Logo_Red.png", alt="")
          img(src="../img/Logo_Red.png", alt="")
        .gallery.cant-2
          img(src="../img/Logo_Red.png", alt="")
          img(src="../img/Logo_Red.png", alt="")
    .row 
      .twelve.columns
        footer 
          p &copy; 2024 El badulaque
</body>
</html>
