@use "mixins" as *;

@media (min-width: 768px){
    //tablet
    @include generar_columnas_dimension(12, md);
}
@media (min-width: 1200px){
    //desktop
    @include generar_columnas_dimension(12, xl);

}
